<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
       
       <!-- 开启spring-mvc注解模式 -->
       <mvc:annotation-driven>
       	 <mvc:message-converters register-defaults="true">
       	 	<bean class="org.springframework.http.converter.StringHttpMessageConverter">
       	 		<property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
       	 	</bean>
       	 </mvc:message-converters>
       </mvc:annotation-driven>
       <!-- 向容器自动注入配置 -->
       <context:annotation-config />
       
       <!-- 将静态资源交由默认的servlet处理 -->
       <mvc:default-servlet-handler />
       
       <!-- 设置相关Bean代码的位置 -->
       <context:component-scan base-package="controller" />
       
       
       <!-- 配置视图解析器 -->
       <bean id="internalResourceViewResolver" 
       class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       	<property name="prefix" value="/pages/" />
       	<property name="suffix" value=".jsp" />
       </bean>
       
       <!-- Mybatis设置开始 -->
       <context:property-placeholder location="classpath:database.properties" />
       
       <bean id="jdbcDataSource"
       	class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       		<property name="driverClassName" value="${driver}" />
       		<property name="url" value="${url}" />
       		<property name="username" value="${user}"/>
       		<property name="password" value="${password}" />
       	</bean>
       	
       	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
       		<property name="dataSource" ref="jdbcDataSource"/>
       		<property name="mapperLocations" value="classpath:mapper/*.xml"/>
       	</bean>
       	
       	<!-- 自动扫描对象关系映射 -->
       	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
       		<property name="basePackage" value="dao"/>
       	</bean>
       	
       	<!-- 声明事务管理 -->
       	<bean id="transactionManager" 
       		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
       		<property name="dataSource" ref="jdbcDataSource"/>
       	</bean>
       	
       	<!-- 支持注解驱动的事务管理，指定事务管理器 -->
       	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>